@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

<header class="mt-5">
    <h1 class="text-success fw-bold text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Vous n'avez pas accès à cette ressource.</p>
</header>
