@page
@model LockoutModel
@{
    ViewData["Title"] = "Compte verouillé";
}

<header class="mt-5">
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Ce compte a été verrouillé, veuillez réessayer plus tard.</p>
</header>
