<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome Email from Bulky Book</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#fff" style="background-color:lightgray;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:darkcyan; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:lightcyan;">
                                <b>{1} : BookStore</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        Félicitations! <small>Votre compte a été validé.</small>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                
                                <tr>
                                    <td width="100%" style="color:darkslategrey; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <div style="font-size:16px;">
                                            Cher {2},
                                        </div>
                                        <div style="font-size:12px;">
                                            Merci d'avoir montré votre intérêt pour notre site Web.
                                            Il vous suffit de cliquer sur le bouton ci-dessous (cela ne prend que quelques secondes).
                                            Vous ne serez pas invité à vous connecter à votre compte - nous vérifions simplement la propriété de cette adresse e-mail.
                                            <hr>
                                            <center>

                                                <button type="button" title="Confirm Account Registration" style="background: #1b97f1">
                                                    <a href="{5}" style="font-size:22px;  padding: 10px; color: #ffffff">
                                                        Confirmer votre adresse Email
                                                    </a>
                                                </button>

                                            </center>
                                            <hr>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#564319;">
                                            <b>Veuillez garder vos informations d'identification confidentielles pour une utilisation future. </b>
                                        </div>
                                        <div style="font-size:16px; color:#525252;">
                                            <b>Email         :</b> {3}
                                            <br />
                                            <b>Username :</b> {3}
                                            <br />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; background-color:darkcyan; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#fff;">
                                            <b>
                                                Mettez à jour votre mot de passe maintenant tous les quelques mois!
                                            </b>
                                        </div>
                                        <br>
                                        <div style="font-size:13px; color:aliceblue;">
                                            Les mots de passe faibles sont volés et conduisent à des comptes piratés. 
                                            Célébrez la Journée mondiale du mot de passe avec un nouveau mot de passe fort.                                            <br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                           
                        </td>
                    </tr>
                    
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>