@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-center"  style="color:#ff6a00;">Commande envoyée avec succès</h1><br />
        <img src="~/images/lawn_leaf.jpg" width="50%" />
    </div>
    <div class="col-12 text-center text-secondary" style="font-size: 17px;">
        <br />
        Merci pour votre confiance! <br />
        Nous avons reçu votre commande et nous vous enverrons un e-mail de suivi sous peu!
        <br />
        Numéro de commande : @Model
    </div>
</div>


